.DS_Store
.nodemonignore
.sass-cache/
npm-debug.log
app/tests/coverage/
.bower-*/
.idea/
public/assets/uploads
public/caches
bower_components
public/uploads
public/tmp
public/iccaches/final.min.css
public/iccaches/script-1.min.js
public/iccaches/script-2.min.js
public/iccaches/script-3.min.js
public/iccaches/script-4.min.js
public/iccaches
localStorage/